<html>
  <head>
    <title>Slides</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content="yelo" name="author" />
    <meta
      content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover"
      name="viewport"
    />
    <link rel="stylesheet" href="//unpkg.com/hack@0.8.1/dist/hack.css" />
    <style>
      .hack {
        margin: 4rem 0;
      }

      .hack footer {
        border-top: 1px solid #f6f6f6;
        margin: 2rem 0;
      }
    </style>
  </head>

  <body class="hack">
    <div class="container">
      <h1>Public Slides</h1>
      <ul>
        <% config.slides.forEach((slide) => { %>
          <li>
            <a href="/<%= outputPaths.get(slide.root) %>" target="_blank">
              <%= slide.title %>
            </a>
            <span style="color: #aaa; padding-left: 1em;"> <%= slide.date %></span>
          </li>
        <% }) %>
      </ul>
      <footer>
        <p><a href="https://yelo.cc/" target="_blank">&copy; Yelo</a></p>
      </footer>
    </div>
  </body>
</html>
